services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    env_file: .env
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
  redis:
    image: redis:latest
    ports:
      - "6379:6379"

volumes:
  mssql_data: